.div-order {
    position: relative;
    display: inline-block;
    left: 250px;
}
.div-order select {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid black;
}
.div-order label {
    font-family: cursive;
    font-size: 20px;
}