.div-order-rating {
    position: relative;
    display: inline-block;
    left: 140px;
}
.div-order-rating select {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid black;
}
.div-order-rating label {
    font-family: cursive;
    font-size: 20px;
}